body { background: #8d1259; margin: 0; font-family: sans-serif; }
.secure-terminal { padding: 17px; display: flex; }
.block-notify-0 { color: #b9d411; font-size: 15px; margin-bottom: 5px; }
.block-cart-1 { color: #707c71; font-size: 19px; margin-bottom: 5px; }
.block-metrics-2 { color: #fb3166; font-size: 18px; margin-bottom: 5px; }
.block-router-3 { color: #22de05; font-size: 20px; margin-bottom: 5px; }
.block-filter-4 { color: #d8d38; font-size: 21px; margin-bottom: 5px; }
.block-metrics-5 { color: #c2373c; font-size: 19px; margin-bottom: 5px; }